.vertical-menu {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  float: left;

  li {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;

    a {
      width: 100%;
      padding: 4px 15px;
      float: left;

      svg {
        width: 10px;
        margin-right: 4px;
      }
    }
  }

  .li-divide {
    border-bottom: 1px solid $borderColorLv3;

    a {
      margin-bottom: 5px;
    }
  }
}