$mainColor: #8541e0;
$mainColorLight: #9357e3;
$mainColorDark: #641fc0;
$backgroundColor: #f7f9f9;
$mainFontColorLv1: #efe6fb;
$mainFontColorLv2: #deccf7;

$topBarBackground: #8541e0;

$fontColorLv1: #333333;
$fontColorLv2: #555555;
$fontColorLv3: #666666;
$fontColorLv4: #999999;
$fontColorLv5: #b5b5b5;

$borderColorLv1: #d9dadb;
$borderColorLv2: #e1e2e3;
$borderColorLv3: #edeeef;
$borderColorLv4: #f4f5f7;

$formBorderColorLv1: #edeeef;

$headerTableBackground: #f7f7f7;
$hoverBackgroundColor: #f8f9fa;
$highlightBackgroundColor: #f8f9fa;

$blue: #007bff;
$green: #28a745;
$red: #ed5e5a;
$orange: #fd7e14;
$gray: #6c757d;
$gray2: #cccfd2;
$purple: #8541e0;
$teal: #01989c;

$borderRadiusLv1: 3px;
$borderRadiusLv2: 5px;
$borderRadiusLv3: 8px;
$borderRadiusLv4: 10px;